useDynLib(gotta, .registration = TRUE)

import(methods)
import(ggplot2)
import(Matrix)
import(plotly)
import(RTriangle)
import(shiny)
importFrom(class, knn1)
importFrom(EBImage, fillHull)
importFrom(geometry, convhulln)
importFrom(grDevices, colorRampPalette)
importFrom(grid, arrow, unit)
importFrom(RColorBrewer, brewer.pal)
importFrom(SeuratObject, DefaultAssay, "DefaultAssay<-", FetchData)
importFrom(stats, prcomp)
importFrom(utils, read.csv)

export(AlignmentJob)
export(ArrowFeaturePlot)
export(ArrowPlot)
export(CartFeaturePlot)
export(ComputeCellArea)
export(FetchData2Mesh)
export(FillHoles)
export(FindSpatialCorners)
export(FindSpatialNeighbors)
export(FindTrajectory)
export(GOTTJob)
export(GradientLayout)
export(GradientSpatial)
export(HyperMeshFeaturePlot)
export(HyperSurfFeaturePlot)
export(JacobianLayout)
export(MeshFeaturePlot)
export(RunGOTT)
export(RunGOTTA)
export(RunHyperView)
export(RunTrajectory)
export(SpatialMesh)
export("SpatialMesh<-")
export(SurfFeaturePlot)
export(VertexAccessor)
export(VertexJob)
exportClasses(SpatialMesh)

S3method(ArrowFeaturePlot, Seurat)
S3method(ArrowFeaturePlot, SpatialMesh)
S3method(CartFeaturePlot, Seurat)
S3method(CartFeaturePlot, SpatialMesh)
S3method(FillHoles, array_coords)
S3method(FillHoles, vertex)
S3method(FindSpatialCorners, Seurat)
S3method(FindSpatialCorners, SpatialMesh)
S3method(HyperMeshFeaturePlot, Seurat)
S3method(HyperMeshFeaturePlot, SpatialMesh)
S3method(HyperSurfFeaturePlot, Seurat)
S3method(HyperSurfFeaturePlot, SpatialMesh)
S3method(MeshFeaturePlot, Seurat)
S3method(MeshFeaturePlot, SpatialMesh)
S3method(RunGOTT, Seurat)
S3method(RunGOTT, SpatialMesh)
S3method(RunGOTTA, Seurat)
S3method(RunGOTTA, SpatialMesh)
S3method(SurfFeaturePlot, Seurat)
S3method(SurfFeaturePlot, SpatialMesh)
